<div class="container__small-card">
  <div class="container__small-card-content">
    <div class="small-card__image">
      <img
        src="https://imgs.search.brave.com/udmDGOGRJTYO6lmJ0ADA03YoW4CdO6jPKGzXWvx1XRI/rs:fit:860:0:0/g:ce/aHR0cHM6Ly90My5m/dGNkbi5uZXQvanBn/LzAyLzY4LzU1LzYw/LzM2MF9GXzI2ODU1/NjAxMl9jMVdCYUtG/TjVyalJ4UjJleVYz/M3puSzRxblllS1pq/bS5qcGc"
        alt=""
      />
    </div>
    <div class="small-card__title">
      <h1>
        <a href="#"
          >Nova versão do Angular versão do Angular versão do Angular</a
        >
      </h1>
    </div>
  </div>

  <div class="container__small-card__separator">
    <hr />
  </div>
</div>
