<main>
  <header>
    <app-menu-bar></app-menu-bar>
  </header>
  <app-menu-title></app-menu-title>
  <div class="container__articles">
    <div class="articles__main">
      <app-big-card
        imgCover="https://imgs.search.brave.com/YqqkYmTBVb14mDt4GUYRrAqU2QosVE9zT4zUHtX0eMg/rs:fit:860:0:0/g:ce/aHR0cHM6Ly93d3cu/aW5mb21vbmV5LmNv/bS5ici93cC1jb250/ZW50L3VwbG9hZHMv/MjAyMC8wNy9jcm9w/cGVkLWZ1bmRvcy1p/bW9iaWxpYXJpb3Mt/ZGUtcGFwZWwtY2Fw/YS5qcGc_cmVzaXpl/PTM2MCwyMDImcXVh/bGl0eT03MCZzdHJp/cD1hbGw"
        cardTitle="Valor das FII Disparam e seu valor é o maior do ano"
        cardDescription="is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum."
      ></app-big-card>
    </div>
    <div class="articles__others">
      <app-small-card
        imgCover="https://imgs.search.brave.com/Q23FHaqmy_khnU50VHrvYAsAi95lll7iXZBQgnqQ_04/rs:fit:860:0:0/g:ce/aHR0cHM6Ly93d3cu/ZmluYW5jaWFsZXhw/cmVzcy5jb20vd3At/Y29udGVudC91cGxv/YWRzLzIwMjMvMTAv/dHJhZGluZ19zY3Jl/ZW5fcmV1dGVyczEt/MjMuanBnP3c9MzEw/Jmg9MTc0JmNyb3A9/MQ"
        cardTitle="IBOVESPA anuncia novas FIIs para 2024"
      ></app-small-card>

      <app-small-card
        imgCover="https://imgs.search.brave.com/Q23FHaqmy_khnU50VHrvYAsAi95lll7iXZBQgnqQ_04/rs:fit:860:0:0/g:ce/aHR0cHM6Ly93d3cu/ZmluYW5jaWFsZXhw/cmVzcy5jb20vd3At/Y29udGVudC91cGxv/YWRzLzIwMjMvMTAv/dHJhZGluZ19zY3Jl/ZW5fcmV1dGVyczEt/MjMuanBnP3c9MzEw/Jmg9MTc0JmNyb3A9/MQ"
        cardTitle="IBOVESPA anuncia novas FIIs para 2024"
      ></app-small-card>
      
      <app-small-card
        imgCover="https://imgs.search.brave.com/Q23FHaqmy_khnU50VHrvYAsAi95lll7iXZBQgnqQ_04/rs:fit:860:0:0/g:ce/aHR0cHM6Ly93d3cu/ZmluYW5jaWFsZXhw/cmVzcy5jb20vd3At/Y29udGVudC91cGxv/YWRzLzIwMjMvMTAv/dHJhZGluZ19zY3Jl/ZW5fcmV1dGVyczEt/MjMuanBnP3c9MzEw/Jmg9MTc0JmNyb3A9/MQ"
        cardTitle="IBOVESPA anuncia novas FIIs para 2024"
      ></app-small-card>
    </div>
  </div>
</main>
